<div class="jumbotron jumbotron-fluid mt-3" (click)="modoLectura()" style="cursor: pointer">
    <div class="container">
        <h1 class="display-4">Modo Lectura</h1>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" (click)="modoEscritura()" style="cursor: pointer">
    <div class="container">
        <h1 class="display-4">Modo Escritura</h1>
    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-3" (click)="modoAdministrador()" style="cursor: pointer">
    <div class="container">
        <h1 class="display-4">Administrador</h1>
    </div>
</div>