<ul class="nav justify-content-end mr-5 mt-5 mb-2">
    <li class="nav-item">
        <button class="btn" (click)="this.filtering = !this.filtering" *ngIf="this.listaReuniones?.length >= 2"><i class="fas fa-filter fa-lg"></i></button>
    </li>
</ul>
<div class="ml-5" *ngIf="filtering === true">
    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput type="text" (keyup)="filtrar()" placeholder="Titulo" [(ngModel)]="titulo">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="text" (keyup)="filtrar()" placeholder="Descripción" [(ngModel)]="descripcion">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-select placeholder="Ubicación" (selectionChange)="filtrar()" [(ngModel)]="ubicacion">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let u of ubicaciones" [value]="u.nombreUbicacion">{{u.nombreUbicacion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-label>Fecha reunión</mat-label>
            <mat-form-field class="full-width" floatLabel="never">
                <input matInput type="date" (change)="filtrar()" [(ngModel)]="desde" name="horaEmpiece">
            </mat-form-field>
        </div>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <div class="responsive_table">
            <table mat-table [dataSource]="dataSource" class="full-width table-hover" matSort>
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element">{{element.titulo}}</td>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                </ng-container>

                <ng-container matColumnDef="creador">
                    <th mat-header-cell *matHeaderCellDef>Creador</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element">{{element.creador}}</td>
                </ng-container>

                <ng-container matColumnDef="ubicacion">
                    <th mat-header-cell *matHeaderCellDef>Ubicación</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element">{{element.ubicacion.nombreUbicacion}}</td>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element">{{element.tipo.nombreTipo}}</td>
                </ng-container>

                <ng-container matColumnDef="horaEmpiece">
                    <th mat-header-cell *matHeaderCellDef>Hora de empiece</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.horaEmpiece | date:'dd/MM/yyy, HH:mm'}}</td>
                </ng-container>

                <ng-container matColumnDef="horaFin">
                    <th mat-header-cell *matHeaderCellDef>Hora fin</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.horaFin | date:'dd/MM/yyy, HH:mm'}}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td class="a-full-width" mat-cell *matCellDef="let element; let i = index"><i class="fas fa-trash-alt fa-lg" *ngIf="usuario?.nombre === 'Administrador'" (click)="eliminarReunion(i)"></i></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>