<div class="container">
    <img [src]="this.usuario?.avatar" alt="Imagen del usuario" class="img-thumbnail" width="200px" height="200px" style="cursor: pointer" (click)="imgFileInput.click()">

    <form>
        <button mat-button type="button" class="btn btn-dark mb-2" (click)="imgFileInput.click()">Elige una foto de perfil</button>
        <input hidden type="file" #imgFileInput (change)="onFileChange($event)">
        <mat-form-field class="full-width" floatLabel="never">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="this.usuario.nombre" name="nombre">
            <mat-hint>
                * Este campo es obligatorio
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" floatLabel="never">
            <mat-label>Profesión</mat-label>
            <input matInput type="text" [(ngModel)]="this.usuario.profesion" name="prefesion">
            <mat-hint>
                * Este campo es obligatorio
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" floatLabel="never">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" onmousedown="this.type='text'" onmouseup="this.type='password'" name="contrsena" [(ngModel)]="this.usuario.contrasena">
            <mat-hint>
                * Este campo es obligatorio
            </mat-hint>
        </mat-form-field>
        <button mat-button class="btn btn-dark mt-2" (click)="actualizarUsuario()">Actualizar usuario</button>
    </form>
</div>