<ul class="nav justify-content-end mr-5 mt-5 mb-2">
    <li class="nav-item">
        <button class="btn" data-toggle="modal" data-target="#exampleModal" (click)="editarTipo()"><i class="fas fa-plus fa-2x"></i></button>
    </li>
</ul>
<mat-card>
    <mat-card-content>
        <div class="responsive_table">
            <table mat-table [dataSource]="dataSource" class="full-width table-hover" matSort>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" data-toggle="modal" data-target="#exampleModal" (click)="editarTipo(i)">{{element.nombreTipo}}</td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index"><i class="fas fa-edit fa-lg" data-toggle="modal" data-target="#exampleModal" (click)="editarTipo(i)"></i>&nbsp;&nbsp;<i class="fas fa-trash-alt fa-lg" (click)="eliminarTipo(i)" *ngIf="element.reuniones.length === 0"></i></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>


<!-- MODAL ACTUALIZAR AÑADIR UN TIPO -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.editTipo.id === 0 ? 'Nuevo Tipo': 'Editar Tipo'}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <mat-form-field class="full-width" floatLabel="never">
                        <input matInput type="text" placeholder="Nombre" [(ngModel)]="this.editTipo.nombreTipo" name="titulo">
                        <mat-hint>
                            * Este campo es obligatorio
                        </mat-hint>
                    </mat-form-field>
                </form>
            </div>
            <div class="modal-footer">
                <button mat-button type="button" class="btn btn-dark mb-2" data-dismiss="modal">Cacelar</button>
                <button mat-button type="button" class="btn btn-dark mb-2" *ngIf="this.editTipo.id !== 0" (click)="actualizarTipo()">Guardar Cambios</button>
                <button mat-button type="button" class="btn btn-dark mb-2" *ngIf="this.editTipo.id === 0" (click)="anadirTipo()">Añadir Tipo</button>
            </div>
        </div>
    </div>
</div>