<div class="d-inline-block w-100 mt-3">
    <button class="btn float-right" (click)="this.filtering = !this.filtering;" *ngIf="this.listaReuniones?.length >= 2"><i class="fas fa-filter fa-lg"></i></button>
    <button class="btn float-right" (click)="abrirPosteo()" data-toggle="modal" data-target="#modal"><i class="fas fa-plus fa-lg"></i></button>
    <button class="btn float-right" (click)="getReunionesALasQueVoy()" *ngIf="this.reunionesALasQueVoy?.length === 0"><i class="fas fa-envelope"></i> Ver invitaciones</button>
    <button class="btn float-right" (click)="getReunionesUsuario()" *ngIf="this.reunionesALasQueVoy?.length !== 0"><i class="fas fa-handshake"></i> Ver mis reuniones</button>
</div>

<div class="ml-5" *ngIf="filtering === true">
    <div class="row">
        <div class="col-2">
            <mat-form-field>
                <input matInput type="text" placeholder="Titulo" (keyup)="filtrar()" [(ngModel)]="titulo">
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field>
                <input matInput type="text" placeholder="Descripción" (keyup)="filtrar()" [(ngModel)]="descripcion">
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field>
                <mat-select placeholder="Ubicación" (selectionChange)="filtrar()" [(ngModel)]="ubicacion">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let u of ubicaciones" [value]="u.nombreUbicacion">{{u.nombreUbicacion}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-label>Fecha reunión</mat-label>
            <mat-form-field class="full-width" floatLabel="never">
                <input matInput type="date" (change)="filtrar()" [(ngModel)]="desde" name="horaEmpiece">
            </mat-form-field>
        </div>
    </div>
</div>


<div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="full-width table-hover">

        <ng-container matColumnDef="titulo" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.titulo}}</td>
        </ng-container>

        <ng-container matColumnDef="titulo" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.titulo}}</td>
        </ng-container>



        <ng-container matColumnDef="descripcion" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element; let i = index">{{element.descripcion}}</td>
        </ng-container>



        <ng-container matColumnDef="ubicacion" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Ubicación</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.ubicacion.nombreUbicacion}}</td>
        </ng-container>

        <ng-container matColumnDef="ubicacion" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Ubicación</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.ubicacion.nombreUbicacion}}</td>
        </ng-container>



        <ng-container matColumnDef="horaEmpiece" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Hora de empiece</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.horaEmpiece | date:'dd/MM/yyy, HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="horaEmpiece" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Hora de empiece</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.horaEmpiece | date:'dd/MM/yyy, HH:mm'}}</td>
        </ng-container>



        <ng-container matColumnDef="horaFin" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Hora de finalización</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.horaFin | date:'dd/MM/yyy, HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="horaFin" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Hora de finalización</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.horaFin | date:'dd/MM/yyy, HH:mm'}}</td>
        </ng-container>



        <ng-container matColumnDef="asistentes" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Asistentes</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.asistentes.length === 0 ? 'Sin asistentes' : element.asistentes.length + ' Asistente(s)'}}</td>
        </ng-container>

        <ng-container matColumnDef="asistentes" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Asistentes</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.asistentes.length === 0 ? 'Sin asistentes' : element.asistentes.length + ' Asistente(s)'}}</td>
        </ng-container>



        <ng-container matColumnDef="tipo" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.tipo.nombreTipo}}</td>
        </ng-container>

        <ng-container matColumnDef="tipo" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.tipo.nombreTipo}}</td>
        </ng-container>



        <ng-container matColumnDef="fechaCreacion" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{element.fechaCreacion | date:'dd/MM/yyy'}}</td>

        </ng-container>

        <ng-container matColumnDef="fechaCreacion" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{element.fechaCreacion | date:'dd/MM/yyy'}}</td>
        </ng-container>



        <ng-container matColumnDef="fechaActualizacion" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Última actualización</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="editar(i)" data-toggle="modal" data-target="#modal">{{ element.fechaActualizacion === '0001-01-01T00:14:44' ? 'Sin actualizaciones' : element.fechaActualizacion | date:'dd/MM/yyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaActualizacion" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef>Última actualización</th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index">{{ element.fechaActualizacion === '0001-01-01T00:14:44' ? 'Sin actualizaciones' : element.fechaActualizacion | date:'dd/MM/yyy'}}</td>
        </ng-container>



        <ng-container matColumnDef="acciones" *ngIf="this.listaReuniones?.length !== 0">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index"><i class="fas fa-edit fa-lg" (click)="editar(i)" data-toggle="modal" data-target="#modal"></i>&nbsp;&nbsp;<i class="fas fa-trash-alt fa-lg" (click)="eliminarReunion(i)"></i></td>
        </ng-container>

        <ng-container matColumnDef="acciones" *ngIf="this.reunionesALasQueVoy?.length !== 0">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="a-full-width" mat-cell *matCellDef="let element; let i = index" (click)="cancelarInvitacion(i)"><i class="fas fa-times fa-lg"></i></td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<!-- MODAL DE EDITAR/AÑADIR UNA REUNION -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{this.editReunion.id === 0 ? 'Nueva Reunion' : 'Editar Reunion'}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body">

                <form>
                    <mat-form-field class="full-width" floatLabel="never">
                        <input matInput type="text" placeholder="Titulo" [(ngModel)]="this.editReunion.titulo" name="titulo">
                        <mat-hint>
                            * Este campo es obligatorio
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="never">
                        <input matInput type="text" placeholder="Descripción" [(ngModel)]="this.editReunion.descripcion" name="descripcion">
                    </mat-form-field>
                    <mat-form-field class="full-width" floatLabel="never">
                        <mat-select placeholder="Ubicación" [(ngModel)]="this.editReunion.ubicacionId" name="ubicacion">
                            <mat-option *ngFor="let u of ubicaciones" [value]="u.id">{{u.nombreUbicacion}}</mat-option>
                        </mat-select>
                        <mat-hint>
                            * Este campo es obligatorio
                        </mat-hint>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="full-width" floatLabel="never">
                                <input matInput type="datetime-local" placeholder="Hora de inicio" [(ngModel)]="this.editReunion.horaEmpiece" name="horaEmpiece">
                                <mat-hint>
                                    * Este campo es obligatorio
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="full-width" floatLabel="never">
                                <input matInput type="datetime-local" [(ngModel)]="this.editReunion.horaFin" name="horaFin">
                                <mat-hint>
                                    * Este campo es obligatorio
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-list>
                        <label>Asistentes <button class="btn" data-toggle="modal" data-target="#exampleModal" (click)="filtrarAsistentes()"><i class="fas fa-user-plus"></i></button></label>
                        <mat-list-item *ngFor="let a of asistentes; let i = index">{{a.nombre}} &nbsp;<i class="fas fa-user-times" (click)="eliminarAsistente(i)"></i></mat-list-item>
                        <mat-list-item *ngIf="this.loadingAsistentes === true"> Cargando </mat-list-item>
                        <mat-list-item *ngIf="this.asistentes.length === 0 && this.loadingAsistentes === false"> Para agregar asistentes pulsa el icono </mat-list-item>
                    </mat-list>
                    <mat-form-field class="full-width" floatLabel="never">
                        <mat-select placeholder="Tipo" [(ngModel)]="this.editReunion.tipoId" name="tipo">
                            <mat-option *ngFor="let t of tipos" [value]="t.id">{{t.nombreTipo}}</mat-option>
                        </mat-select>
                        <mat-hint>
                            * Este campo es obligatorio
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <label>Fecha de creación</label>
                        <input matInput type="text" [value]="this.editReunion?.fechaCreacion | date: 'd/M/yyy'" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <label>Última actualización</label>
                        <input matInput type="text" [value]="this.sinActualizar === false ? (this.editReunion?.fechaActualizacion | date: 'd/M/yyy') : 'Este campo se rellena automaticamente.'" readonly>
                    </mat-form-field>
                </form>
                <div class="modal-footer">

                    <button mat-button type="submit" class="btn btn-dark mb-2" (click)="actualizarReunion()" *ngIf="this.editReunion?.id !== 0">Guardar Cambios</button>
                    <button mat-button type="submit" class="btn btn-dark mb-2" (click)="anadirReunion()" *ngIf="this.editReunion?.id === 0">Añadir Reunion</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ASISTENTES -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Añadir Asistente" [(ngModel)]="indexAsistente" name="asistente">
                        <mat-option selected></mat-option>
                        <mat-option *ngFor="let u of usuariosAux; let i = index" [value]="i">{{u.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button mat-button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <button mat-button class="btn btn-dark" type="button" data-dismiss="modal" (click)="anadirAsistente()">Añadir</button>
            </div>
        </div>
    </div>
</div>