<div class="container mt-3">
    <img [src]="this.usuario?.avatar" alt="Imagen del usuario" class="img-thumbnail" width="200px" height="200px">

    <form>
        <button mat-button type="button" class="btn btn-dark mb-2" *ngIf="this.idUsuario === 0" (click)="imgFileInput.click()">Elige una foto de perfil</button>
        <input hidden type="file" #imgFileInput (change)="onFileChange($event)">
        <mat-form-field class="full-width" floatLabel="never">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre de usuario">
            <mat-hint>
                * Este campo es obligatorio
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" floatLabel="never" *ngIf="this.idUsuario === 0">
            <mat-label>Profesión</mat-label>
            <input matInput type="text" name="prefesion" placeholder="Profesión" [(ngModel)]="this.profesion">
        </mat-form-field>
        <mat-form-field class="full-width" floatLabel="never">
            <mat-label>Contraseña </mat-label>
            <input matInput type="password" name="contrsena" onmouseout="this.type='password'" onmouseover="this.type='text'" placeholder="Introduce tu contraseña" [(ngModel)]="this.contrsena">
            <mat-hint>
                * Este campo es obligatorio
            </mat-hint>
        </mat-form-field>
        <button mat-button type="submit" class="btn btn-dark mt-2" (click)="entrar()" *ngIf="this.idUsuario !== 0">Entrar</button>
        <button mat-button type="submit" class="btn btn-dark mt-2" (click)="darDeAlta()" *ngIf="this.idUsuario === 0">Dar de Alta</button>
    </form>
</div>