<div class="container mt-5">
    <div *ngIf="usuario?.nombre === 'Administrador'">
        Dar de alta un nuevo usuario: <button mat-button class="btn btn-dark mb-2 ml-1" (click)="darDeAlta()">Dar de alta un nuevo usuario</button>
    </div>
    <div class="row">
        <div class="col-3 ml-3 mt-3" *ngFor="let u of listaUsuarios">
            <div class="card" style="min-width: 18rem; max-height: 500px" *ngIf="u.nombre !== 'Administrador'">
                <img [src]="u.avatar" class="card-img-top" alt="Imagen del usuario" style="max-height: 300px; min-height: 300px">
                <div class="card-body">
                    <h5 class="card-title">{{u.nombre}}</h5>
                    <p class="card-text">Profesión: {{u.profesion}}</p>
                    <button mat-button class="btn btn-dark mb-2" (click)="logIn(u.id)" *ngIf="usuario?.nombre !== 'Administrador'">Log In</button>
                    <button mat-button class="btn btn-danger mb-2" (click)="eliminarUsuario(u.id)" *ngIf="usuario?.nombre === 'Administrador'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>