<nav class="navbar navbar-dark bg-dark sticky-top">
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button" (click)="irAtras()"><i class="fas fa-arrow-left"></i></button>
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button" (click)="irAlante()"><i class="fas fa-arrow-right"></i></button>
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button"></button>
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button" (click)="irAReuniones()">Reuniones</button>
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button" (click)="irAMisReuniones()"> Mis Reuniones</button>
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button"></button>
    <button mat-button class="btn btn-sm btn-outline-secondary" style="color: white" type="button"></button>
    <button [matMenuTriggerFor]="menu" mat-button class="btn" style="color: white;" (click)="checkUsuario()"><i class="fas fa-bars"></i></button>
    <mat-menu #menu="matMenu" style="background-color: #262a30">
        <button mat-menu-item [matMenuTriggerFor]="Maestros" style="background-color: #262a30; color: white" *ngIf="usuario?.nombre === 'Administrador'"><i class="fas fa-table"></i> Maestros</button>
        <button mat-menu-item style="background-color: #262a30; color: white" *ngIf="usuario?.nombre === 'Administrador'" (click)="irAUsuarios()"><i class="fas fa-users"></i> Usuarios</button>
        <button mat-menu-item style="background-color: #262a30; color: white" (click)="editarPerfil()" *ngIf="usuario?.id !== 0"><i class="fas fa-id-card"></i> Editar perfil</button>
        <button mat-menu-item style="background-color: #262a30; color: white" (click)="cambiarDeCuenta()" *ngIf="usuario?.id !== 0"><i class="fas fa-exchange-alt"></i> Cambiar de cuenta</button>
        <button mat-menu-item style="background-color: #262a30; color: white" (click)="logIn()" *ngIf="usuario?.id === 0"><i class="fas fa-exchange-alt"></i> Log In</button>
        <button mat-menu-item style="background-color: #262a30; color: white" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Salir</button>
    </mat-menu>

    <mat-menu #Maestros="matMenu">
        <button mat-menu-item style="background-color: #262a30; color: white" (click)="irATipos()">Tipos</button>
        <button mat-menu-item style="background-color: #262a30; color: white" (click)="irAUbicaciones()">Ubicaciones</button>
    </mat-menu>
</nav>